@page "/"
@inject NavigationManager Navigation
@using MauiApp2.Components.Model
@using MauiApp2.Components.DAO

<h1>Hello, world!</h1>

<EditForm Model="@novoCliente"  OnValidSubmit="SalvarCliente">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<label for="nome" >Nome:</label>
	<InputText id="nome" @bind-Value="novoCliente.nome" required /><br />

	<label for="cpf">cpf:</label>
	<InputText id="cpf" @bind-Value="novoCliente.cpf" required /><br /> 

	<label for="telefone">telefone:</label>
	<InputText id="telefone" @bind-Value="novoCliente.telefone" required /><br />
	
	<br>
	<button type="submit">Enviar</button>
	<button @onclick="lista">Lista</button>

</EditForm>

@code{
	Cliente novoCliente = new();

	private void SalvarCliente()
	{
		//Cliente.UltimoCliente = novoCliente;
		new ClienteDAO().SalvarCliente(novoCliente);
	}

	private void lista()
	{
		Navigation.NavigateTo("/lista");
	}

}