@page "/lista"
@using MauiApp2.Components.Model

<h3>Lista de cadastro</h3>

<table>
	<thead>
		<tr>
			<th>Nome</th>
			<th>Cpf</th>
			<th>Telefone</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			@if (lista != null)
			{
				@foreach (var cliente in lista)
				{
					<td>@cliente.nome</td>
					<td>@cliente.cpf</td>
					<td>@cliente.telefone</td>
					<button class="btn btn-outline-danger" "@onclick=" > Excluir</button>
				}
			}

 		</tr>
	</tbody>
</table>

@code {
	List<Cliente> lista = new();

	private async Task OnInitializedAsync()
	{
		lista = await new ClienteDAO().ListarCliente();

	}

	private async Task DeleteId(int id)
	{
		await new ClienteDAO().ExcluirCliente(id);
		lista = await new ClienteDAO().ListarCliente();
	}

	private async Task BuscarClientePorId(int id)
	{
		Navigation
	}

}